@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #282a36;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
}


canvas {
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #fff;
}

button {
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #282a36;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: #fff;
    color: #282a36;
}

div#game-over {

    display: none;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 252, 252);
    background-color: #282a36;
    padding: 15px;
    border-radius: 10px;

}